.wl-bookshelf-slider .slides .book-slide-entry .bookslider-image img{
 max-height: 170px;
 width: auto;
}

.wl-bookshelf-slider .bookslider .flex-nav-next a.flex-next{
 min-height:80px
}
.wl-bookshelf-slider .bookslider .flex-nav-next a.flex-next::before {
 content: '>';
}
.wl-bookshelf-slider .bookslider .flex-nav-prev a.flex-prev{
 min-height:80px
}
.wl-bookshelf-slider .bookslider .flex-nav-prev a.flex-prev::before {
 content: '<';
}
.wl-bookshelf-slider .bookslider .flex-viewport {
  margin-bottom: 2.5rem;
}
